@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


.rec-arrow:disabled {
  visibility: hidden;
}
.rec-dot {
  display: none;
}
.rec.rec-arrow {
  color: #fff;
  background: #D14532;
}

.rec.rec-arrow:hover {
  color: #D14532 !important;
  background: #fff !important;
}
